html, body {
    margin: 0;
    font-family: monospace;
}

#treemap-diagram {
    text-align: center;
}

#title {
    font-size: 30px;
    color: #dd4814;
    margin-top: 20px;
}

#description {
    font-size: 20px;
    color: #5e0080;
    margin-bottom: 50;
}

#tooltip {
    position: absolute;
    background: lightsteelblue;
    text-align: center;
}
#legend {
    margin-top: 20px;
}